@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300;500;600&family=Questrial&family=Roboto:wght@100&display=swap");

/* Css varibles */
:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  /* for the transition to be smooth we use the bellow */
  transition: transform 0.3s ease;
}

body.show-nav {
  /* the first parameter in translate is the X value so we don`t necesarilly need to put translateX(200),it does the X axis by default */
  /* the bellow code sets the width of the nav */
  transform: translate(200px);
}
nav {
  /* position it fixed with the help of position:fixed */
  /* make sure it`s always on top using z-index:100 */
  /* we can make it slide over using the transform property on the translate(x)axis wich is horizontally, -100% moves it to the left which removes it completely off the screen */
  background-color: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

/* to put the border on the top of the first li to separate it from the logo/image i use the pseudo selector first-off-type */
nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

header {
  /* position the header relative because we`re going to have a toggle class button inside of it (header) and the button needs to be positioned absolute ,it has to have a relative container*/
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}
h1 {
  margin: 0;
}

p {
  margin: 30px 0;
}

button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  /* to remove the default  focus outline when  we hower */
  outline: none;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50px;
  left: 10px;
}

.cta-btn {
  /* cta stands for call-to-action */
  padding: 12px 30px;
  font-size: 20px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

/* MODAL */

.modal-container {
  /* set the modal to cover the entire page */
  /* set it to display none in order to not have it until we invoke it */
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  /* set up the display from none(above) to display:block (here) */
  /* to have the modal fade in we need to add animation on the modal class(bellow) */
  display: block;
}

.modal {
  /* to put the modal class div in the center of the page I use everything from the position:absolute to transform:translate(x-50%, y-50%) */
  /* create a key frame for the modalopen animation */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration); 
}

.modal-header {
  background: var(--primary-color);
  padding: 15px;
  color: #fff;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 1px solid #333;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 6px;
  right: 0;
}

  @keyframes modalopen {
  /* goes from invisible (0) to fully visible(1) slowly,in 1 sec */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}  
